<?xml version='1.0' encoding='utf-8'?>
<widget id="www.EnriMessenger.sigtics.org" version="13.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Enri Messenger</name>
    <description>
        Aplicacion oficial de Mario En tu radio
    </description>
    <author email="yibsonalexis@gmail.com" href="http://sigtics.org/">
      sigtics@gmail.com
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="*.firebaseio.com" />
    <allow-intent href="auth.firebase.com" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="FadeSplashScreenDuration" value="1000" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="android">
       <icon src="img/iconos/Android/iconos/36-36.png" qualifier="ldpi" />
        <icon src="img/iconos/Android/iconos/48-48.png" qualifier="mdpi" />
        <icon src="img/iconos/Android/iconos/72-72.png" qualifier="hdpi" />
        <icon src="img/iconos/Android/iconos/96-96.png" qualifier="xhdpi" />
        <icon src="img/iconos/Android/iconos/144-144.png" qualifier="xxhdpi" />
        <icon src="img/iconos/Android/iconos/192-192.png" qualifier="xxxhdpi" />
        <splash src="img/iconos/Android/imgs/240_320.png" qualifier="" />
        <splash src="img/iconos/Android/imgs/320_240.png" qualifier="" />
        <splash src="img/iconos/Android/imgs/320_480.png" qualifier="" />
        <splash src="img/iconos/Android/imgs/480_320.png" qualifier="" />
        <splash src="img/iconos/Android/imgs/480_800.png" qualifier="" />
        <splash src="img/iconos/Android/imgs/720_1280.png" qualifier="" />
        <splash src="img/iconos/Android/imgs/1280_720.png" qualifier="" />
        <splash src="img/iconos/Android/imgs/960_1600.png" qualifier="" />
        <splash src="img/iconos/Android/imgs/1600_960.png" qualifier="" />
        <splash src="img/iconos/Android/imgs/1280_1920.png" qualifier="" />
        <splash src="img/iconos/Android/imgs/1920_1280.png" qualifier="" />
    </platform>
    <icon src="icon.png" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.4.0" />
    <plugin name="cordova-plugin-x-socialsharing" spec="https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin.git" />
</widget>
