<link rel="stylesheet" type="text/css" href="css/inicio.css"> 
  <ion-view view-title="Agregar Usuarios Al Grupo" cache-view="false">

    <ion-content>

     

      <ion-list class="contact-list">
        
<style type="text/css">
  .item-checkbox .checkbox {
position: absolute;
top: 30% !important;
right: 8px;
left: 80% !important;
z-index: 3;
margin-top: -21px;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
padding-left: 0px !important;
min-height: 72px;
}
</style>

<ion-item class="item-avatar item-icon-right" ng-repeat=" contact in contacts " style="
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-top: 0px;
height: 52px;" >

  

 <ion-checkbox ng-change="crearGrupo( {{ contact.id }})" ng-model="activo" id="{{ contact.id }}">
           <img class="profile-picture" src="{{ contact.face }}" alt=""/>
          <p>
            <a href="#" class="post-author">
              {{ contact.name }}
            </a>
            <span class="badge badge-positive" ng-if="contact.group == 'Family'">Familia</span>
            <span class="badge badge-energized" ng-if="contact.group == 'Friend'">Amigos</span>
          </p>
  </ion-checkbox> 
       

        </ion-item>
      </ion-list>


    </ion-content>

<div class="contenedor" >
<button class="botonF1" ng-click="Agregar_mas()" >
<span><i class="ion-plus-circled"></i></span>
</button>
</div>

  </ion-view>