<ion-view >

<ion-nav-bar class="bar-stable">
        
        <ion-nav-buttons side="right" >
            
              <a class="button button-icon button-clear back_btn" ng-click="myGoBack()" style="padding-top: 15px;">
                <i class="ion-chevron-left"></i>
            </a>
        </ion-nav-buttons>
         <ion-nav-buttons side="left" >
            <button class="button button-icon button-clear logo_img">
              <img class="title-image" src="img/title.png" />
            </button>
        </ion-nav-buttons>
</ion-nav-bar>
<ion-content style="top:70px">
<div style="    transform: translate3d(0px, 0px, 0px) scale(1);
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;">

<p>
<b>"Enri Messenger"</b>, es una aplicación de mensajería instantánea para los teléfonos inteligentes con sistema Android e IOS creada por el comunicador y relacionista público, además de administrador público territorial,<b> Mario Luis Benítez Arboleda</b>.
</p>
<p>
<b>"Enri Messenger"</b>, tiene como desarrolladores a un grupo de profesionales chocoanos egresados de la Universidad Tecnológica del Chocó, que hacen parte de la <b>Coorporación "SIGTICS"</b>.
</p>
<p>
<b>"Enri Messenger"</b> se ha hecho realidad para que chocoanos, colombianos y habitantes del Mundo, la asuman como propia la cual además de las prestaciones de una mensajería instantánea incorpora el servicio de radio Streaming propio de la marca MarioEnTuRadio con sus dos emisoras Online MarioEnTuRadio Salsa y Somos Jóvenes, es decir, MarioEnTuRadio Juvenil.
El término <b>"Enri"</b> fue acuñado por <b>Mario Luis Benítez Arboleda</b>, inspirándose en la semejanza del nombre de su abuela, <b>María Concepción Andrade Mosquera </b>, quien nació y murió en Condoto, Chocó, Colombia, mujer que se dedicó su vida entera a la minería artesanal; lo más grande y representativo para Mario.
</p>
<p>
<b>"Enri Messenger"</b>, no tiene como propósito sustituir ningún otro tipo de mensajería instantánea; se convierte en un método alternativo con opciones o estrategias que se pueden utilizar para facilitar la comunicación entre la comunidad de habla hispana y el Mundo.
</p>
<p>
<b>"Enri Messenger"</b>, es una muestra más de como la marca digital <b>MarioEnTuRadio</b>, viene haciendo de la comunicación estratégica su mejor herramienta. 
</p>

</div>

</ion-content>
</ion-view>