<ion-view >

<ion-nav-bar class="bar-stable">
        
        <ion-nav-buttons side="right" >
            
              <a class="button button-icon button-clear back_btn" ng-click="myGoBack()" style="padding-top: 15px;">
                <i class="ion-chevron-left"></i>
            </a>
        </ion-nav-buttons>
         <ion-nav-buttons side="left" >
            <button class="button button-icon button-clear logo_img">
              <img class="title-image" src="img/title.png" />
            </button>
        </ion-nav-buttons>
</ion-nav-bar>
<ion-content>

<center><a href="http://sigtics.org/" target="_blank"><img src="img/logo.png" style="width:50%"></a></center>


</ion-content>
</ion-view>