<ion-view >

  <ion-nav-bar class="bar-stable">
        
        <ion-nav-buttons side="right" >

            <a class="button button-icon button-clear back_btn" ng-click="myGoBack()" style="padding-top: 15px;">
                <i class="ion-chevron-left"></i>
            </a>
        </ion-nav-buttons>
         <ion-nav-buttons side="left" >

            <button class="button button-icon button-clear logo_img">
              <img class="title-image" src="img/title.png" />
            </button>
            
        </ion-nav-buttons>
    </ion-nav-bar>

  <ion-content style="top: 50px;">

  <div class="list list-inset" >
        <label class="item item-input">
         <i class="icon ion-search placeholder-icon"></i>
         <input type="text" placeholder="Buscar" ng-model="busqueda">
       </label>
      </div>

    <ion-list>
     <a href="" class="people_list"
       collection-repeat="list in con | filter: busqueda"
       collection-item-width="'100%'"
       collection-item-height="85"> 
      
      <div class="row">
        <div class="col col-25">
          <div class="img_status">
            <div class="photo_person" style="background:url({{list.img}})no-repeat; background-size:100% 100%;"></div>
            
          </div>  
        </div>
          <div class="col">
          <h3 style="margin:auto">{{ list.nombre}}</h3>

          <div class="timeline-stats">
              <button class="button button-clear button-balanced" ng-click="Ausuario(list.user)"><i class="ion-ios-checkmark-outline"></i> Agregar </button>
            
            </div>
          
        </div>
      </div>
    </a>
    </ion-list>



<!--
  <div class="list list-inset transparent-form">
      
      <label class="item item-input">
       
        <input type="text" placeholder="Nombre de usuario / Correo electrónico" ng-model="usuarioA" id="usuarioA">
      </label>




      
    <div class="padding">
      <button class="button button-block button-positive" ng-click="Ausuario()">
        Agregar
      </button>
    </div>
</div>
-->
      </ion-content>
</ion-view>