<ion-view view-title="Cambiar Contraseña">
<ion-content>
<div class="list list-inset transparent-form">
      
      <label class="item item-input">
        <input type="text" placeholder="Contraseña Actual">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Nueva Contraseña">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Confirmar Contraseña">
      </label>
    <div class="padding">
      <button class="button button-block button-positive">
        Guardar Cambios
      </button>
    </div>
</ion-content>
</ion-view>