<ion-view >

<ion-nav-bar class="bar-stable">
        
        <ion-nav-buttons side="right" >
            
              <a class="button button-icon button-clear back_btn" ng-click="myGoBack()" style="padding-top: 15px;">
                <i class="ion-chevron-left"></i>
            </a>
        </ion-nav-buttons>
         <ion-nav-buttons side="left" >
            <button class="button button-icon button-clear logo_img">
              <img class="title-image" src="img/title.png" />
            </button>
        </ion-nav-buttons>
</ion-nav-bar>


<ion-content>
<div id="c_clave" ng-app='angular_post' >
<div class="list list-inset transparent-form">
      
      <label class="item item-input">
        <input type="password" placeholder="Contraseña actual" id='c_actual' name='c_actual' ng-model="c_actual" id="c_actual">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Nueva contraseña" id='c_nueva' name='c_nueva' ng-model="c_nueva" id="c_nueva">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirmar contraseña" id='cc_nueva' name='cc_nueva' ng-model="cc_nueva" id="cc_nueva">
      </label>
    <div class="padding">
      <button class="button button-block button-positive" ng-click= "cambiar()" > 
        Guardar cambios
      </button>
    </div>
    </div>
    </div>


</ion-content>
</ion-view>