<ion-view view-title="Chat">
  <ion-content>
    <ion-list > 

    <a class="item item-avatar" href="#/app/detalleschat">
      <img src="img/app/avatar.png">
      <h2>Jesson Ember Bejarano Mosquera</h2>
      <p>Hola</p>
    </a>

    <a class="item item-avatar" href="#/app/detalleschat">
      <img src="img/app/avatar.png">
      <h2>Jesson Ember Bejarano Mosquera</h2>
      <p>Hola</p>
    </a>

    <a class="item item-avatar" href="#/app/detalleschat">
      <img src="img/app/avatar.png">
      <h2>Jesson Ember Bejarano Mosquera</h2>
      <p>Hola</p>
    </a>

    <a class="item item-avatar" href="#/app/detalleschat">
      <img src="img/app/avatar.png">
      <h2>Jesson Ember Bejarano Mosquera</h2>
      <p>Hola</p>
    </a>

    <a class="item item-avatar" href="#/app/detalleschat">
      <img src="img/app/avatar.png">
      <h2>Jesson Ember Bejarano Mosquera</h2>
      <p>Hola</p>
    </a>



</ion-list>

  </ion-content>
</ion-view>