<ion-view style="background-image: url('img/1611.jpg');
    background-color: rgba(0, 0, 0, 0.17);background-size: 100% 100%;">
<ion-nav-bar class="bar-stable">
        
        <ion-nav-buttons side="right" >


            
              <a class="button button-icon button-clear back_btn" ng-click="myGoBack()" style="padding-top: 15px;">
                <i class="ion-chevron-left"></i>
            </a>
            
        </ion-nav-buttons>
         <ion-nav-buttons side="left" >
            <button class="button button-icon button-clear logo_img">
              <img class="title-image" src="img/title.png" />
            </button>
        </ion-nav-buttons> 
</ion-nav-bar>


<div class="bar bar-subheader chat_head" style="margin-top: -50px;background: rgba(0, 0, 0, 0.22);border-bottom:1px solid rgba(9, 71, 202, 0.41);">
      <div class="row">
        <div class="col col-25">
          <a class="button button-clear" ng-click="viewPerfil(chat[0].id)" style="color:#000">
            <img class="photo_person" src="{{chat[0].faceg}}"/>
          </a>
            <span class="status" style="background:{{item.color}}"></span>
        </div>
        <div class="col">
          <h3>{{chat[0].name}}</h3>
          <p><a class="button button-clear" ng-click="viewPerfil(chat[0].id)" style="color:#000;float:left">Perfil</a></p>
        </div>
      </div>
 </div>  


  <ion-content class="has-subheader chat_content" delegate-handle="mainScroll">
   <ion-list class="list_chat" style="background-color: transparent;">
        <ion-item ng-repeat="item in chat[0].messages"  style="direction:{{item.type}}; ">
 
        <div class="item_content" style="background-color: transparent;" >

        <div on-hold="onMessageHold($event, $index, item )" >
                   <pre class="content" style="min-width: 50%;max-width: 70%;
    border-radius: 8px;
    padding: 2px;
    font-size: 14px;
    font-family: fantasy;
    background-color: {{item.b}};
    text-align: left;"><span><b style="color:{{item.color}};">{{item.name}}</b>  <br/> {{item.text}}<img src="{{ item.image }}" ng-click="ftoChat(item.image)" class="block" ng-if="item.image" alt="" style="width:100%" /></pre> 
        
        </div>
     </div>
        </ion-item>
    </ion-list>


    <div ng-controller="mensajecontrol">

<form style="display:none">
<div style="text-align: left;font-size: 20px;padding: 10px;color: #487eaa;">
</div>
<div class="file-upload">
  <br/>
  <input type="file" id="i_file1" name="file" ng-file-select="onFileSelect($files)" accept="image/*"/>
  <div ng-repeat="files in uploadResult">
  <!-- in case of error show error message with file name-->
  <span class='label label-info'>{{files.name}}</span><br/>
  </div>
</div>
</form>
</div>
           <!-- <p class="date_chat"><span>29 August<span>2:50 pm</span></span></p> -->
  </ion-content>

<div style="clear:both;"></div>

  
    <ion-footer-bar class="footer_chat" style="background:rgba(0, 0, 0, 0.17);">

    
        <div class="list list-inset" ng-controller="mensajecontrol" style="margin-left: 0px; margin-right: 0px;border: 1px solid #387EF5;border-radius: 0px 20px 20px 0px;background:transparent">

               <img src="img/adjunto.png" ng-click="clickUpload2()" style="float:left;margin-top: 12px;width: 10%" />

            <label class="item item-input" style="width:80% !important">
                <textarea ng-model="input.message" placeholder="Escribir a {{chat[0].name}} ...." id="mensjaetxt" required style="padding: 9px;"></textarea>
            </label>
               <img src="img/enter.png" ng-disabled="!input.message || input.message === ''" ng-click="sendMessage()" style="padding-right:2px;float:right;margin-top: 8px; width: 10%;"/>
            
        </div>
    </ion-footer-bar>
</ion-view>
