

<ion-view view-title="Chat"  hide-nav-bar="true" class="chat-detail" cache-view="false">

<div class="bar bar-header" style="border-color: transparent;
    background-color: #387EF5;
    color: #fff;">
  <button class="button button-icon icon ion-chevron-left" style="color: #fff;" ng-click="atras()">Atras</button>
  <div class="h1 title" style="color: #fff;" ng-click="viwPerfilU(chat[0].id)">{{chat[0].name}}</div>
  <button class="button button-icon icon ion-information-circled" style="color: #fff;" 
  ng-click="viwPerfilU(chat[0].id)"></button>
</div>


  <ion-content class="padding" delegate-handle="mainScroll">
<br/>
<br/>

    <div ng-repeat="message in chat[0].messages" class="message-wrapper rlt"
         on-hold="onMessageHold($event, $index, message )">

      <div ng-if="message.type == 'received'">

        <img class="profile-picture left" src="{{ chat[0].face }}" ng-if="chat[0].face "/>
        <img class="profile-picture left" src="{{ message.imagen_per }}" ng-if="message.imagen_per"/>

        <div class="chat-bubble left">

        <div style="color: {{ message.color}}">

            {{ message.name | nl2br }}
          
        </div>



          <div class="message">

            {{ message.text | nl2br }}
            
            <img src="{{ message.image }}" ng-click="ftoChat(message.image)" class="block" ng-if="message.image" alt="" style="width:90%" />
          </div>

          <div class="message-detail">
            <span class="message-time">{{ message.time }}</span>
          </div>

        </div>
      </div>

      <div ng-if="message.type == 'sent'">

        <img class="profile-picture right" src="{{ chat[0].face2 }}" ng-if="chat[0].face2" />
        <img class="profile-picture right" src="{{ chat[0].faceg }}" ng-if="chat[0].faceg" />
     

        <div class="chat-bubble right">

         <div style="color: {{ message.color}}">

            {{ message.name | nl2br }}
          
        </div>

          <div class="message" >
          {{ message.text | nl2br }}

          <img src="{{ message.image }}" ng-click="ftoChat(message.image)" class="block" ng-if="message.image" alt="" style="width:90%"  />
          </div>

          <div class="message-detail">
            <span class="message-time">{{ message.time }}</span>
          </div>

        </div>

      </div>

      <div class="cf"></div>

    </div>

<form style="display:none">
<div style="text-align: left;font-size: 20px;padding: 10px;color: #487eaa;">
</div>
<div class="file-upload">
  <br/>
  <input type="file" id="i_file1" name="file" ng-file-select="onFileSelect($files)" accept="image/*"/>
  <div ng-repeat="files in uploadResult">
  <!-- in case of error show error message with file name-->
  <span class='label label-info'>{{files.name}}</span><br/>
  </div>
</div>
</form>

  </ion-content>

  <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
    <ion-footer-bar class="bar-stable message-footer">
      <div class="footer-btn-wrap">
        <button type="button"  class="button button-icon icon ion-android-attach" ng-click="clickUpload1()" ></button>
      </div>
      <label class="item-input-wrapper">
        <textarea ng-model="input.message" value="" placeholder="Envia un mensaje a {{chat[0].name}} ...."
                  required minlength="1" maxlength="1500" msd-elastic></textarea>
      </label>
      <div class="footer-btn-wrap">
        <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                ng-disabled="!input.message || input.message === ''">
        </button>
      </div>
    </ion-footer-bar>
  </form>
</ion-view>

