

<ion-view >

<ion-nav-bar class="bar-stable">
        
        <ion-nav-buttons side="right" >
            
              <a class="button button-icon button-clear back_btn" ng-click="myGoBack()" style="padding-top: 15px;">
                <i class="ion-chevron-left"></i>
            </a>
        </ion-nav-buttons>
         <ion-nav-buttons side="left" >
            <button class="button button-icon button-clear logo_img">
              <img class="title-image" src="img/title.png" />
            </button>
        </ion-nav-buttons>
</ion-nav-bar>



  <ion-content class="padding" delegate-handle="mainScroll">

   <ion-list class="list_chat">
        <ion-item ng-repeat="message in canalM" style="border:none;border-style: none; padding:2px;" >
        <div class="item_content" >
          
                   <pre class="content" style="min-width: 50%;max-width: 70%;
    border-radius: 8px;
    padding: 2px;
    font-size: 14px;
    font-family: fantasy;
    background-color:#ddd;
    text-align: left;"><span><b style="/*color:{{item.color}};*/">{{ message.titulo }}</b>  <br/> {{ message.text }}<span></pre> 
        </div>
        </ion-item>
    </ion-list>
           <!-- <p class="date_chat"><span>29 August<span>2:50 pm</span></span></p> -->

    </div>


  </ion-content>

</ion-view>

