
<ion-view view-title="Contactos" >
  <ion-content>
    <ion-list > 

    <a class="item item-avatar" href="#/app/detalleschat">
      <img src="img/app/avatar.png">
      <h2>Jesson Ember Bejarano Mosquera</h2>
      <p>Te amo JC</p>
    </a>

    <a class="item item-avatar" href="#/app/detalleschat">
      <img src="img/app/avatar.png">
      <h2>Jesson Ember Bejarano Mosquera</h2>
      <p>Te amo JC</p>
    </a>

    <a class="item item-avatar" href="#/app/detalleschat">
      <img src="img/app/avatar.png">
      <h2>Jesson Ember Bejarano Mosquera</h2>
      <p>Te amo JC</p>
    </a>

    <a class="item item-avatar" href="#/app/detalleschat">
      <img src="img/app/avatar.png">
      <h2>Jesson Ember Bejarano Mosquera</h2>
      <p>Te amo JC</p>
    </a>

    <a class="item item-avatar" href="#/app/detalleschat">
      <img src="img/app/avatar.png">
      <h2>Jesson Ember Bejarano Mosquera</h2>
      <p>Te amo JC</p>
    </a>



</ion-list>

  </ion-content>

  <div class="tabs tabs-icon-only">
  <a class="tab-item" >
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-star"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
</div>
</ion-view>


