<!--
  This template loads for the 'contacts' state (app.js)
  'contacts' is a $scope variable come from Contacts controller
  The ContactsCtrl pulls data from Contacts service (service.js)
  The Contacts service returns array of contacts data
-->
<link rel="stylesheet" type="text/css" href="css/inicio.css"> 
  <ion-view view-title="Contactos" cache-view="false">

    <ion-content>
 

     <div class="list list-inset" >
        <label class="item item-input">
         <i class="icon ion-search placeholder-icon"></i>
         <input type="text" placeholder="Buscar" ng-model="busqueda">
       </label>
      </div>

      <ion-list class="contact-list">

        <ion-item class="item-avatar item-icon-right" ng-repeat=" contact in contacts | filter: busqueda" ng-click="viewChat1( {{ contact.id }} )" >
          <img class="profile-picture" src="{{ contact.face }}" alt=""/>
          <p>
            <a ng-click="viewChat1({{ contact.id }})" class="post-author">
              {{ contact.name }}
            </a>
            <span class="badge badge-positive" ng-if="contact.group == 'Family'">Familia</span>
            <span class="badge badge-energized" ng-if="contact.group == 'Friend'">Amigos</span>
          </p>

          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-stable ion-android-contact" ng-click="ver_contac({{ 'contact.user' }})">
          </ion-option-button>
          <ion-option-button class="button-assertive ion-android-delete" ng-click="eliminar_contac({{ contact.id_relacion }})">
          </ion-option-button>

        </ion-item>
      </ion-list>
      </br> </br>
    </ion-content>

<div class="tabs tabs-icon-only" style="background-color: #387EF5;">
  
  <a class="tab-item"  href="#/agregar" style="color: white; font-weight: bold;">
    <i class="ion-person-add" ></i>
    Agregar contacto
  </a>

</div>

<!--

<div class="contenedor" ui-sref="agregar">
<button class="botonF1">
<span><i class="icon ion-person-add"></i></span>
</button>
</div>

-->

  </ion-view>
