<!--
  This template loads for the 'contacts' state (app.js)
  'contacts' is a $scope variable come from Contacts controller
  The ContactsCtrl pulls data from Contacts service (service.js)
  The Contacts service returns array of contacts data
-->
<link rel="stylesheet" type="text/css" href="css/inicio.css">
  <ion-view view-title="Contactos">
    <ion-content>
      <ion-list class="contact-list">

        <ion-item class="item-avatar item-icon-right" ng-repeat="contact in contacts" href="#/chats/{{chat.id}}" >
          <img class="profile-picture" src="{{ contact.face }}" alt=""/>
          <p>
            <a href="#/chats/{{chat.id}}" class="post-author">
              {{ contact.name }}
            </a>
            <span class="badge badge-positive" ng-if="contact.group == 'Family'">Family</span>
            <span class="badge badge-energized" ng-if="contact.group == 'Friend'">Friend</span>
          </p>

          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-stable ion-edit" ng-click="edit(contact)">
          </ion-option-button>
          <ion-option-button class="button-assertive ion-android-delete" ng-click="remove(contact)">
          </ion-option-button>

        </ion-item>
      </ion-list>
    </ion-content>

<div class="contenedor" ui-sref="agregar">
<button class="botonF1">
<span><i class="icon ion-person-add"></i></span>
</button>
</div>

  </ion-view>
