<link rel="stylesheet" type="text/css" href="css/inicio.css"> 
  <ion-view >

    <ion-nav-bar class="bar-stable">
        
        <ion-nav-buttons side="right" >


            <a class="button button-icon button-clear back_btn" ng-click="myGoBack()" style="padding-top: 15px;">
                <i class="ion-chevron-left"></i>
            </a>
        </ion-nav-buttons>
         <ion-nav-buttons side="left" >

            <button class="button button-icon button-clear logo_img">
              <img class="title-image" src="img/title.png" />
            </button>
            
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>

     

      <ion-list class="contact-list">
        
        <div class="list list-inset" >
        <label class="item item-input">
        <input type="text" placeholder="Asunto del grupo" ng-model="asunto" id="asunto" name="asunto">
        </label>
        </div>

<style type="text/css">
  .item-checkbox .checkbox {
position: absolute;
top: 30% !important;
right: 8px;
left: 80% !important;
z-index: 3;
margin-top: -21px;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
padding-left: 0px !important;
min-height: 72px;
}
</style>

<ion-item class="item-avatar item-icon-right" ng-repeat=" contact in contacts " style="
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-top: 0px;
height: 52px;" >

  

 <ion-checkbox ng-change="crearGrupo(contact.id)" ng-model="activo" id="contact.id">
           <img class="profile-picture" src="{{ contact.face }}" alt=""/>
          <p>
            <a href="#" class="post-author" style="text-decoration: none;
    color: #000;">
              {{ contact.name }}
            </a>
            <span class="badge badge-positive" ng-if="contact.group == 'Family'">Familia</span>
            <span class="badge badge-energized" ng-if="contact.group == 'Friend'">Amigos</span>
          </p>
  </ion-checkbox> 
       

        </ion-item>
      </ion-list>



  <div class="padding">
      <button class="button button-block button-positive" ng-click="InsertarGrupo()">
        Crear grupo
      </button>
    </div>


    </ion-content>



  </ion-view>