
<!--
  This template loads for the 'user' state (app.js)
  'user' is a $scope variable created in UserCtrl controller (controllers.js)
  The UserCtrl pull data from Contacts service (service.js)
  The Contacts service returns contact by id
-->
<ion-view view-title="{{ ver_user.nombre }}" cache-view="false">

  <ion-content style="background:#387EF5">


<div class="text-center user-profile positive-bg" style="overflow:hidden;border:none" >
<div style="position:relative;min-height:300px;overflow:hidden">
<div style="z-index:1;position:absolute;width:100%;min-height:300px;border:none;overflow:hidden" >

<img src="{{ ver_user.img }}" style="-webkit-filter:blur(10px);width:100%;height:350px;">

</div>
<!-- PRINCIPA -->

<div style="z-index:2;position:absolute;width:100%;min-height:300px;padding-top:0px">
<center><img src="{{ ver_user.img }}"  style="width:80%;height:300px;"></center>
</div>
</div>
</div>
<div style="clear: both;"></div>

<div id="c_clave" ng-app='angular_post' >
<div class="card">
  <div class="item item-divider" style="background:#387EF5">
    Nombre
  </div>
  <div class="item item-text-wrap" >
    {{ ver_user.nombre }}
  </div>
</div>
<div class="card">
  <div class="item item-divider" style="background:#387EF5">
    Estado
  </div>
  <div class="item item-text-wrap">
   {{ ver_user.mensaje_personal }}
  </div>
</div>
</div>


</ion-content>
</ion-view>
