<ion-view view-title="Informacion Grupos" cache-view="false">
<ion-content>

</br>

<div class="list">

    <ion-item class="item item-thumbnail-left" ng-click="viewFoto1('1')">
      <img src="http://radio.sigtics.org/img/grupos.png">
      <h2>Nombre del Grupo</h2>
      <p>Ultimo Mensage</p>

  </ion-item>


</div>

  <h2 style="">Integrantes</h2>


<ion-list class="contact-list">
 <ion-item class="item-avatar item-icon-right"  >
          <img class="profile-picture" src="img/ben.png" alt=""/>
          <p>
              Usuario 1
          </p>

          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-stable ion-person-add" ng-click="agregar('2')" >
          </ion-option-button>

 </ion-item>
  <ion-item class="item-avatar item-icon-right"  >
          <img class="profile-picture" src="img/ben.png" alt=""/>
          <p>
              Usuario 2
          </p>

          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-stable ion-person-add" ng-click="agregar('3')">
          </ion-option-button>

 </ion-item>
  <ion-item class="item-avatar item-icon-right"  >
          <img class="profile-picture" src="img/ben.png" alt=""/>
          <p>
              Usuario 3
          </p>

          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-stable ion-person-add" ng-click="agregar('4')">
          </ion-option-button>

 </ion-item>

<!--

    <a class="item item-avatar" href="#">
      <img src="img/ben.png">
      <h2>Usuario 1</h2>
      <p>Estado</p>
      <ion-option-button class="button-stable ion-android-contact" >
        </ion-option-button>
    </a>

    <a class="item item-avatar" href="#">
      <img src="img/adam.jpg">
      <h2>Usuario 2</h2>
      <p>Estado</p>
      <ion-option-button class="button-stable ion-android-contact" >
          </ion-option-button>
    </a>
    -->

</ion-list>


</ion-content>
</ion-view>