  <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Iniciar Sesión</h1>
     <a class="item-icon-right" href="#/acercade">
        <i class="icon ion-information-circled iconAcerca-jsu"></i>
    </a>
  </ion-header-bar>

  <ion-content>
    <form >
      <div class="list">
        <div style="text-aling: center;margin-top:20px;">
         <!-- <center><img src="img/app/logo_utch_400x95.png"  width="100%" /></center> -->
        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label">Identificación</span>
          <input type="text" placeholder="Ingresa tu Identificación" ng-model="data.identificacion">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Clave</span>
          <input type="password" placeholder="Ingresa tu Clave" ng-model="data.clave">
        </label>
        <label class="item">
          <button class="button button-block button-positive-jsu" ng-click="login()">Entrar</button>
        </label>


       
      </div>
    </form>



         <a class="item-icon" href="#/registro">
        Registrarse
        </a>
  






  </ion-content>


