<ion-view view-title="Login" hide-nav-bar="true"  cache-view="false">

<style type="text/css">
  .menu {
width: 2px !important;
background-color: #fff !important;
display: none !important;
}
</style>

  <ion-content class="padding" delegate-handle="mainScroll">
    <!-- Logo -->
      
    <div class="padding text-center" style="padding-top:40px">
      <img src="img/192-192.png" style="width:40%; height: 30%; ">
    </div>

    <!-- Login form -->
    <div id="login" ng-app='angular_post' ng-controller='login'>
    <div class="list list-inset transparent-form">
      <label class="item item-input">
        <i class="ion-ios-email-outline light icon-label"></i>
        <input type="text" placeholder="Email o nombre de usuario" name='usuario_l' id='usuario_l' ng-model="usuario_l" >
      </label>
      <label class="item item-input">
        <i class="ion-ios-locked-outline light icon-label"></i>
        <input type="password" placeholder="Contraseña" name='clave_l' id='clave_l' ng-model="clave_l">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive"  ng-click="login()">
        Iniciar sesión
      </button>
    </div>
    </div>

   
     <div class="padding text-center">
      <span class="light"></span>
     
    </div>




      </div>
  </ion-content>

  <div class="tabs tabs-icon-only" style="background-color: #387EF5;">
  
  <a class="tab-item"  href="#/restaurar" style="color: white; font-weight: bold;">
    <i class="ion-locked" ></i>
      Restaurar 
  </a>
  <a class="tab-item" href="#/register" style="color: white; font-weight: bold;">
    <i class="ion-person-add"></i>
    Registrate 
  </a>
</div>
</ion-view>
