<ion-view view-title="Login" hide-nav-bar="true" class="login-bg" cache-view="false">
  <ion-content>
    <!-- Logo -->
      
    <div class="padding text-center" style="padding-top:140px">
      <img src="img/logo72_os.png" style="width:50%;height:50% ">
    </div>

    <!-- Login form -->
    <div id="login" ng-app='angular_post' ng-controller='login'>
    <div class="list list-inset transparent-form">
      <label class="item item-input">
        <i class="ion-ios-email-outline light icon-label"></i>
        <input type="text" placeholder="Email o Nombre de usuario" name='usuario_l' id='usuario_l' ng-model="usuario_l" >
      </label>
      <label class="item item-input">
        <i class="ion-ios-locked-outline light icon-label"></i>
        <input type="password" placeholder="Contraseña" name='clave_l' id='clave_l' ng-model="clave_l">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive"  ng-click="login()">
        Iniciar Sesion
      </button>
    </div>
    </div>

   
     <div class="padding text-center">
      <span class="light"></span>
     
    </div>

    <!-- Other links -->
    <div class="padding row" style="">

      <div class="row" style="border:none" >

     
     <a href="#/restaurar" style="color:#000;border:none;width:100%;padding:0px"><i class="ion-locked"></i> ¿Olvidastes contraseña?</a> 
   
      
    
      <a href="#/register" class="light" style="color:#000;border:none;width:100%;padding:0px"> <i class="ion-person-add"></i>Registrate  </a>  
  
      

      </div>
    </div>


      </div>
  </ion-content>
</ion-view>
