<ion-modal-view class="search animated slideInDown " style=" min-height: 280px;">
    <ion-content class="ser_input">

    <div class="list">

    <a class="item item-thumbnail-left" href="#/tab/agregar"  style="background: transparent;
    border: none;">
      <img src="img/user.png">
      <h2 style="padding-top:20px;color:#ccc">Agregar un contacto</h2>


    </a>

    <a class="item item-thumbnail-left" href="#/tab/grupo"  style="background: transparent;
    border: none;">
      <img src="img/grupo.png">
      <h2 style="padding-top:20px;color:#ccc">Crear un grupo</h2>
 

    </a>
  </div>

    </ion-content>
  </ion-modal-view>