<ion-view view-title="Noticias">
  <ion-content>
    <ion-list > 

    <a class="item item-avatar" href="#/app/detallesnoticia">
      <img src="img/app/avatar.png">
      <h2>Titulo</h2>
      <p>Fecha</p>
    </a>

    <a class="item item-avatar" href="#/app/detallesnoticia">
      <img src="img/app/avatar.png">
      <h2>Titulo</h2>
      <p>Fecha</p>
    </a>

    <a class="item item-avatar" href="#/app/detallesnoticia">
      <img src="img/app/avatar.png">
      <h2>Titulo</h2>
      <p>Fecha</p>
    </a>

    <a class="item item-avatar" href="#/app/detallesnoticia">
      <img src="img/app/avatar.png">
      <h2>Titulo</h2>
      <p>Fecha</p>
    </a>

    <a class="item item-avatar" href="#/app/detallesnoticia">
      <img src="img/app/avatar.png">
      <h2>Titulo</h2>
      <p>Fecha</p>
    </a>



</ion-list>

  </ion-content>
</ion-view>