<ion-view>
<ion-nav-bar class="bar-stable">
        
        <ion-nav-buttons side="right" >
            
              <a class="button button-icon button-clear back_btn" ng-click="myGoBack()" style="padding-top: 15px;">
                <i class="ion-chevron-left"></i>
            </a>
        </ion-nav-buttons>
         <ion-nav-buttons side="left" >
            <button class="button button-icon button-clear logo_img">
              <img class="title-image" src="img/title.png" />
            </button>
        </ion-nav-buttons>
</ion-nav-bar>
  <ion-content >

<div id="c_clave" ng-app='angular_post' >           
<div class="list">
  <label class="item item-input item-floating-label" >
    <span class="input-label">Nombre</span>
    <input type="text"   value="{{ user.nombre }}" id='nombre_u' name='nombre_u' >
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Estado</span>
    <input type="text"  value="{{ user.mensaje_personal }}" id='estado_u' name='estado_u' >
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Correo</span>
    <span> {{ user.email }} </span>
  </label>
  <div class="padding">
      <button class="button button-block button-positive"  ng-click="actualizar()">
        Actualizar
      </button>
    </div>
</div>

</div>

  </ion-content>
</ion-view>

  