<ion-view view-title="Login" hide-nav-bar="true" class="login-bg">
  <ion-content>
    <!-- Logo -->
    <div class="padding text-center">
      <h1>
        <i class="light ion-social-angular"></i>
      </h1>
      <h2 class="light">ionSocial</h2>
      <p class="light">Flat social template</p>
    </div>

    <!-- Signup form -->
    <div class="list list-inset transparent-form">
      <label class="item item-input">
        <i class="ion-ios-person-outline light icon-label"></i>
        <input type="text" placeholder="Your name">
      </label>
      <label class="item item-input">
        <i class="ion-ios-email-outline light icon-label"></i>
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input">
        <i class="ion-ios-locked-outline light icon-label"></i>
        <input type="password" placeholder="Password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ui-sref="home">
        Create account
      </button>
    </div>

    <div class="padding">
      <button class="button button-block facebook-color light" ui-sref="home">
        Sign up with Facebook
      </button>
    </div>

    <!-- Other links -->
    <div class="padding row">
      <div class="col">
        <span class="light">Forgot password?</span>
      </div>
      <div class="col">
        <a ui-sref="login" class="light">Have account? Login</a>
      </div>
    </div>
  </ion-content>
</ion-view>
