<ion-view  hide-nav-bar="true">
<ion-content class="padding login_page">
  <form class="form_log padding reg_form">
  <h3>Registrarse</h3>
    <div class="list list-inset">
    
    <label class="item item-input">
        <i class="icon ion-person"></i>
        <input type="text" placeholder="Nombre completo">
    </label>

    <label class="item item-input">
         <div class="input-label" style="color:#bbb;">
      <i class="ion-ios-person-outline light icon-label"></i> Sexo
    </div>
   <select name="sexo_r" id="sexo_r" ng-model="sexo_r">
          <option selected value="1" style="color:#000;border:0;width:100%">Hombre</option>
          <option value="2" style="color:#000;border:0;width:100%">Mujer</option>
          <option value="3"  style="color:#000;border:0;width:100%">Otro</option>
  </select>
    </label>


     <label class="item item-input">
        <i class="icon ion-person"></i>
        <input type="text" placeholder="Nombre de usuario">
      </label>
      <label class="item item-input">
        <i class="icon ion-at"></i>
        <input type="email" placeholder="Email">
      </label>
       <label class="item item-input">
        <i class="icon ion-unlocked"></i>
        <input type="password" placeholder="Contraseña">
      </label>
   </div>
     <div class="row">
       <div class="col">
            <a href="" class="button button-block button-positive">
            Register
            </a>  
       </div>
        <div class="col col-33">
            <a href="#/login" class="button button-block button-positive new_reg">
            Back
            </a>  
       </div>
      </div>
  </form>
</ion-content>
</ion-view>
