<ion-view view-title="Login" hide-nav-bar="true" class="login-bg">
  <ion-content>
    <!-- Logo -->
    <div class="padding text-center">
      <h1>
        <i class="light ion-social-angular"></i>
      </h1>
      <h2 class="light">Chat Choco</h2>
      <p class="light">Mario en tu radio</p>
    </div>

    <!-- Signup form -->
    <div class="list list-inset transparent-form">
      <label class="item item-input">
        <i class="ion-ios-person-outline light icon-label"></i>
        <input type="text" placeholder="Nombre Completo">
      </label>
      <label class="item item-input">
        <i class="ion-ios-email-outline light icon-label"></i>
        <input type="email" placeholder="Correo Electronico">
      </label>
      <label class="item item-input">
        <i class="ion-ios-person-outline light icon-label"></i>
        <input type="email" placeholder="Nombre de usuario">
      </label>
      <label class="item item-input">
        <i class="ion-ios-locked-outline light icon-label"></i>
        <input type="password" placeholder="Contraseña">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ui-sref="home">
        Registrarse
      </button>
    </div>

    

    <!-- Other links -->
    <div class="padding row">
      <div class="col">
        <span class="light">Olvido su contraseña?</span>
      </div>
      <div class="col">
        <a href="#/login" class="light">Tienes cuenta? Inicia sesion</a>
      </div>
    </div>
  </ion-content>
</ion-view>
