<ion-view view-title="Restaurar Contraseña" hide-nav-bar="true" class="login-bg">

<ion-content>
<div class="padding text-center">
      <h1>
        <i class="light ion-social-angular"></i>
      </h1>
      <h2 class="light">Chat Choco</h2>
      <p class="light">Mario en tu radio</p>
    </div>

<div class="list list-inset transparent-form">
      
      <label class="item item-input">
        <input type="text" placeholder="Nombre de usuario">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Correo Electronico">
      </label>
     
    <div class="padding">
      <button class="button button-block button-positive">
        Guardar Cambios
      </button>
    </div>

    <a href="#/login" class="light">Volver</a>
</ion-content>
</ion-view>