<ion-view >
<link rel="stylesheet" type="text/css" href="css/line.css">
<ion-nav-bar class="bar-stable">
        
        <ion-nav-buttons side="right" >
            
              <a class="button button-icon button-clear back_btn" ng-click="myGoBack()" style="padding-top: 15px;">
                <i class="ion-chevron-left"></i>
            </a>
        </ion-nav-buttons>
         <ion-nav-buttons side="left" >
            <button class="button button-icon button-clear logo_img">
              <img class="title-image" src="img/title.png" />
            </button>
        </ion-nav-buttons>
</ion-nav-bar>
<ion-content style="top: 50px;">


      <div class="list list-inset" >
        <label class="item item-input">
         <i class="icon ion-search placeholder-icon"></i>
         <input type="text" placeholder="Buscar" ng-model="busqueda">
       </label>
      </div>


      <ion-list>
     <a href="" class="people_list"
       collection-repeat="solicitud in soli | filter: busqueda"
       collection-item-width="'100%'"
       collection-item-height="85"> 
      
      <div class="row">
        <div class="col col-25">
          <div class="img_status">
            <div class="photo_person" style="background:url({{solicitud.img_usuario}})no-repeat; background-size:100% 100%;"></div>
            
          </div>  
        </div>
          <div class="col">
          <h3>{{ solicitud.nombre_usuario }}</h3>

          <div class="timeline-stats">
              <span class="pos-absolute-right">  <button class="button button-clear button-assertive" ng-click="Csolicitud(solicitud.id)"> <i class="ion-ios-close-outline"></i> Cancelar </button></span>
            </div>
          
        </div>
      </div>
    </a>
    </ion-list>




      
 </ion-content>
</ion-view>