<ion-view view-title="Solicitudes Recibidos">
<link rel="stylesheet" type="text/css" href="css/line.css">
<ion-content>

   <ion-refresher on-refresh="doRefresh()" pulling-icon="ion-load-d" spinner="ios-small"></ion-refresher>

      <ul class="timeline">
        

        <li>
          <img src="img/adam.jpg" alt="" class="timeline-thumb">
          <div class="timeline-item">
            <h4>Fabio garcia alvarez</h4>
            <p>Hola,quiero ser tu amigo.....</p>
            <div class="timeline-stats">
              <button class="button button-clear button-balanced"><i class="ion-ios-checkmark-outline"></i> Aceptar </button>
              <span class="pos-absolute-right">  <button class="button button-clear button-assertive"> <i class="ion-ios-close-outline"></i> Denegar </button></span>
            </div>
          </div>
        </li>

         <li>
          <img src="img/adam.jpg" alt="" class="timeline-thumb">
          <div class="timeline-item">
            <h4>Fabio garcia alvarez</h4>
            <p>Hola,quiero ser tu amigo.....</p>
            <div class="timeline-stats">
              <button class="button button-clear button-balanced"><i class="ion-ios-checkmark-outline"></i> Aceptar </button>
              <span class="pos-absolute-right">  <button class="button button-clear button-assertive"> <i class="ion-ios-close-outline"></i> Denegar </button></span>
            </div>
          </div>
        </li>

         <li>
          <img src="img/adam.jpg" alt="" class="timeline-thumb">
          <div class="timeline-item">
            <h4>Fabio garcia alvarez</h4>
            <p>Hola,quiero ser tu amigo.....</p>
            <div class="timeline-stats">
              <button class="button button-clear button-balanced"><i class="ion-ios-checkmark-outline"></i> Aceptar </button>
              <span class="pos-absolute-right">  <button class="button button-clear button-assertive"> <i class="ion-ios-close-outline"></i> Denegar </button></span>
            </div>
          </div>
        </li>

         <li>
          <img src="img/adam.jpg" alt="" class="timeline-thumb">
          <div class="timeline-item">
            <h4>Fabio garcia alvarez</h4>
            <p>Hola,quiero ser tu amigo.....</p>
            <div class="timeline-stats">
              <button class="button button-clear button-balanced"><i class="ion-ios-checkmark-outline"></i> Aceptar </button>
              <span class="pos-absolute-right">  <button class="button button-clear button-assertive"> <i class="ion-ios-close-outline"></i> Denegar </button></span>
            </div>
          </div>
        </li>

         <li>
          <img src="img/adam.jpg" alt="" class="timeline-thumb">
          <div class="timeline-item">
            <h4>Fabio garcia alvarez</h4>
            <p>Hola,quiero ser tu amigo.....</p>
            <div class="timeline-stats">
              <button class="button button-clear button-balanced"><i class="ion-ios-checkmark-outline"></i> Aceptar </button>
              <span class="pos-absolute-right">  <button class="button button-clear button-assertive"> <i class="ion-ios-close-outline"></i> Denegar </button></span>
            </div>
          </div>
        </li>


      
      </ul>
</ion-content>
</ion-view>