<ion-view view-title="Solicitudes recibidas">
<link rel="stylesheet" type="text/css" href="css/line.css" >
<ion-content>

 

    <div class="list list-inset" >
        <label class="item item-input">
         <i class="icon ion-search placeholder-icon"></i>
         <input type="text" placeholder="Buscar" ng-model="busqueda">
       </label>
      </div>


<ion-list>
     <a href="" class="people_list"
       collection-repeat="solicitud in reci | filter: busqueda"
       collection-item-width="'100%'"
       collection-item-height="85"> 
      
      <div class="row">
        <div class="col col-25">
          <div class="img_status">
            <div class="photo_person" style="background:url({{solicitud.img_usuario}})no-repeat; background-size:100% 100%;"></div>
            
          </div>  
        </div>
          <div class="col">
          <h3>{{ solicitud.nombre_usuario }}</h3>

          <div class="timeline-stats">
              <button class="button button-clear button-balanced" ng-click="(Asolicitud({{ solicitud.id }}))"><i class="ion-ios-checkmark-outline"></i> Aceptar </button>
              <span class="pos-absolute-right">  <button class="button button-clear button-assertive" ng-click="(Dsolicitud({{ solicitud.id }}))"> <i class="ion-ios-close-outline"></i> Denegar </button></span>
            </div>
          
        </div>
      </div>
    </a>
    </ion-list>


</ion-content>
</ion-view>