<ion-view>
    <ion-nav-bar class="bar-stable">
        
        <ion-nav-buttons side="right" >
            <button class="button button-icon button-clear" ng-click="modal_emisora()">
              <i class="ion-play"></i>
            </button>
          
            <button class="button button-icon button-clear" ng-click="modal_usuario()" >
              <img src="img/add.png"/>
            </button>


        </ion-nav-buttons>
         <ion-nav-buttons side="left" >
            <button class="button button-icon button-clear logo_img">
              <img class="title-image" src="img/title.png" />
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

  <ion-content style="{{chat_error[0].img}}">

    <div class="list list-inset" ng-if="chats[0].name">
        <label class="item item-input">
         <i class="icon ion-search placeholder-icon"></i>
         <input type="text" placeholder="Buscar" ng-model="busqueda">
       </label>
      </div>
    
  <ion-list>

     <ion-item  ng-if="chats[0].name" class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap"
                ng-click="canal()">
        <img ng-src="img/logotxt.png">

        <h2>Enri Noticias</h2>
   <span class="badge badge-assertive" ></span> 
        <i class="icon ion-chevron-right icon-accessory"></i>
     <!--
        <ion-option-button class="button-energized" ng-click="mute(chat)">
          Silenciar
        </ion-option-button>
      -->
      </ion-item>
    


      <ion-item class="item-remove-animate item-avatar item-icon-right " ng-repeat="chat in chats | filter: busqueda | orderBy: 'chat.fecha' " type="item-text-wrap"
                ng-click="viewChat(chat.id)">
        <img ng-src="{{chat.face}}">
        
        <h2>{{chat.name}}</h2>
        <p> <pre>{{chat.lasText}}</pre></p>
   <span class="badge badge-assertive" ng-if="(chat.total > '0')">{{chat.total}}</span> 
       <span class="status" style="background:{{chat.color}};"></span>

        <ion-option-button class="button-assertive" ng-click="remove(chat.id)">
          Eliminar
        </ion-option-button>
      </ion-item>
    </ion-list>



    <button  class="button" ng-if="chat_error[0].text" ng-click="Dchat()" style="    margin-top: 270px;
    margin-left: 130px;"> <i class="icon ion-refresh"></i> Actualizar </button>

    </br>
    </br>
  </ion-content>
</ion-view>
